/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";

.collab_icon {
    height: 30px;
    width: auto;
}

.team-member-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .team-member {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
  }
  .team-member-img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    .team-member-container {
      flex-direction: column;
      align-items: center;
    }
    .team-member {
      width: 80%;
    }
  }